{% extends "admin/base_site.html" %}

{% block content %}
    <div id="content">
        <h1>{{ title }}</h1>

        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form method="post" id="login-form" action="{% url 'admin:login' %}">
            {% csrf_token %}
            <div class="form-row">
                {{ form.username.label_tag }} {{ form.username }}
            </div>
            <div class="form-row">
                {{ form.password.label_tag }} {{ form.password }}
            </div>
            <div class="form-row">
                <label for="id_remember" class="vCheckboxLabel">
                    {{ form.remember_me }} Remember me
                </label>
            </div>

            <div class="submit-row">
                <input type="submit" value="Log in" class="default">
            </div>
        </form>

        <p>Forgot your password? <a href="{% url 'admin_password_reset' %}">Reset it here</a>.</p>

        <p>New here? <a href="{% url 'register' %}">Sign up</a>.</p> <!-- Sign up button -->

    </div>
{% endblock %}
